@import url('https://fonts.googleapis.com/css2?family=Rubik');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.pfbox{
    width: 20%;
    height: 400px;
    margin: 2px;
    background-color: hsl(235, 46%, 20%);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.pfbox>div{
    border-radius: 12px;
}
.pfbox .frontbox{
    width: 100%;
    height: 265px;
    background-color:hsl(246, 80%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 /* .frontbox>div{
    margin-left: 30px;
} */
.frontbox .image{
    width: fit-content;
    height: auto;
}
.image img{
    width: 55px;
    height: auto;
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
}
.frontbox .header{
    width: fit-content;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.header #report{
    font-size: small;
    opacity: 0.7;
}
.header #name{
    margin-top: 5px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 32px;
}
.pfbox .nav{
    width: 100%;
    height: 135;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav a{
    width: fit-content;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-left: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
}
.nav a:hover{
    opacity: 1;
}
.nav .weekly_button{
    opacity: 0.9;
}


.trackingbox{
    width: 80%;
    height: 400px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.trackingbox>div{
    width: 30%;
    height: 190;
    border-radius: 12px;
    position: relative;
    background-color:hsl(136, 24%, 64%);
    display: flex;
    flex-direction: column;
}
.trackingbox .work{
    background: hsl(15, 100%, 70%);
}
.trackingbox .play{
    background: hsl(195, 74%, 62%);
}
.trackingbox .study{
    background: hsl(348, 100%, 68%);
}
.trackingbox .exercise{
    background: hsl(145, 58%, 55%);
}
.trackingbox .social{
    background: hsl(264, 64%, 52%);
}
.trackingbox .selfcare{
    background: hsl(43, 84%, 65%);
}
.trackingbox .backbox .svgbox{
    width: fit-content;
    height: auto;
    align-self: flex-end;
    margin-right: 10px;
} 
.trackingbox .backbox .infobox{
    width: 100%;
    height: 140px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    margin-top: 50px;
    color: aliceblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backbox .infobox:hover{
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
}
.head_icon .header{
    font-size: 18px;
}
.head_icon i{
    font-size: 22px;
} 
.backbox .infobox .head_icon{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.weekly{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 5px;
}
.infobox .weekly .current{
    font-size: 36px;
    font-weight: 300;
}
.infobox .weekly .previous{
    margin-top: 5px;
    font-size: 15px;
    opacity: 0.7;
}

@media  screen and (max-width: 600px) {
    .container{
        margin-top: 60%;
        flex-direction: column;
        height: auto;
        width: 80%;

    }
    .container .pfbox{
        height: 200px;
        width: 100%;
    }
    .container .pfbox .frontbox{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container .pfbox .frontbox .image{
        margin-left: 10px;
    }
    .container .pfbox .frontbox .image>img{
        width: 70px;
        height: auto;
    }
    .container .pfbox .nav{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav>a{
        margin: 0;
    }

    .trackingbox{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .trackingbox>div{
        width: 100%;
        height: 140px;
        margin-top: 5%;
    }
    .trackingbox .backbox .infobox{
        width: 100%;
        height: 100px;
        margin-top: 40px;
    }
    .trackingbox .backbox .infobox .weekly{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 600px) {
    .container{
        width: 80%;
    }
    .container .pfbox .frontbox>div{
        margin-left: 15%;
    }
    .container .pfbox .frontbox .header{
        margin-top: 15px;
    }
}