@import url('https://fonts.googleapis.com/css2?family=Rubik');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(3, 3, 59); */
    background: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.pfbox{
    width: 20%;
    height: 400px;
    margin: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.pfbox div{
    border-radius: 12px;
}
.pfbox .backbox{
    width: 100%;
    height: 400px;
    background-color: hsl(235, 46%, 20%);
    position: absolute;
}
.pfbox .backbox .frontbox{
    width: 100%;
    height: 265px;
    background-color:hsl(246, 80%, 60%);
    position: absolute;
    margin-bottom: 100px;
}
.frontbox .image{
    top: 30px;
    width: 100%;
    height: auto;
    position: relative;
}
.image img{
    left: 30px;
    width: 60px;
    height: auto;
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
}
.frontbox .header{
    margin-top: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}
.header span{
    font-size: small;
    opacity: 0.7;
    margin-left: 30px;
}
.header h2{
    margin-top: 5px;
    margin-left: 30px;
    letter-spacing: 1px;
    font-weight: 300;
}

.backbox .nav{
    margin-top: 265px;
    width: 100%;
    height: 135;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav a{
    width: fit-content;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-left: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
}
.nav a:hover{
    opacity: 1;
}
.nav .weekly_button{
    opacity: 0.9;
}


.trackingbox{
    width: 80%;
    height: 400px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.trackingbox>div{
    width: 30%;
    height: 190;
    border-radius: 12px;
    position: relative;
    background-color:hsl(136, 24%, 64%);
    display: flex;
    flex-direction: column;
}
.trackingbox :nth-child(4), .trackingbox :nth-child(5), .trackingbox :nth-child(6) {
    margin-top: 20px;
}
.trackingbox .work{
    background: hsl(15, 100%, 70%);
}
.trackingbox .play{
    background: hsl(195, 74%, 62%);
}
.trackingbox .study{
    background: hsl(348, 100%, 68%);
}
.trackingbox .exercise{
    background: hsl(145, 58%, 55%);
}
.trackingbox .social{
    background: hsl(264, 64%, 52%);
}
.trackingbox .selfcare{
    background: hsl(43, 84%, 65%);
}
.trackingbox .backbox .svgbox{
    width: fit-content;
    height: auto;
    align-self: flex-end;
    margin-right: 10px;
}
.trackingbox .backbox .infobox{
    width: 100%;
    height: 140px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    margin-top: 50px;
    color: aliceblue;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.backbox .infobox:hover{
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
}

.infobox>.header{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}
.infobox>i{
    float: right;
    margin-right: 20px;
    font-size: 22px;
    margin-top: 20px;
}
.weekly{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    float: left;
}
.infobox .weekly .current{
    font-size: 36px;
    margin: 0 0 0 20px;
    font-weight: 300;
}
.infobox .weekly .previous{
    margin: 10px 0 0 20px;
    font-size: 12px;
    opacity: 0.7;
}
